extend layout
block content
	h1= title
	block link
		-selected="Add user"
	form#formAddUser(name='adduser', method='POST', action='/adduser')
		input#inputUserName(type='text', placeholder='username', name='username')
		input#inputUserEmail(type='text', placeholder='email', name='useremail')
		input#btnSubmit(type='submit') 