doctype html
html
  head
    title= title
    link(rel='stylesheet',href='/stylesheets/style.css')
  body
    block link
      -var selected = 'Home'      
    header
      nav
        each page in [{route: "/", name: 'Home'},{route: "/userlist", name: 'Users'}, {route: "/adduser", name: 'Add user'}]
          if selected === page.name
            li(class='selected')
              a(href=page.route)= page.name
          else
            li
              a(href=page.route)= page.name
    div(id="main-content")      
        block content