body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

nav li{
	color: red;
	float:right;
	padding:15px;
	list-style-type: none;
    margin: 0 5px;
}