#main-content{
	position: relative;
	top:45px;
	margin: 0 auto;
	height:100%;
/*	background-color: #333;
	color: #FFFFFF;*/
	overflow: hidden;
}


#employee-list{
	float:left;

	margin: 10px;
	min-height:200px;
	min-width: 150px;
	color: #000000;
}

#employee-details{
	margin-top: 2em;
}

.employee-name{
	margin: 5px;
	padding-left: 10px;
}

.list-group{
	margin-bottom: 5px;
}

body,html{
	height:100%;

li:hover{
	background-color: #46b8da;
}