<!DOCTYPE html>
<html ng-app="employeesApp">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-USA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Employees App (Angular) </title>

	<!--CSS-->
	<link href="libraries/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
	<link href="styles/index.css" rel="stylesheet"/>
</head>
<body cz-shortcut-listen="true">
	
	<!--NAVBAR-->
	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation" >
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="http://getbootstrap.com/examples/starter-template/#">Employees App</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="http://getbootstrap.com/examples/starter-template/#">Home</a></li>
            <li><a href="http://getbootstrap.com/examples/starter-template/#about">About</a></li>
            <li><a href="http://getbootstrap.com/examples/starter-template/#contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!--END NAVBAR-->

	<div>
	    <div id="main-content" class="container row">
			<div class="starter-template row"  ng-controller='employeesController' >
				<!--EMPLOYEE SELECT SECTION-->
				<div id="employee-slect-ctrl" class="col-md-3">		        
				    <h3>Select Employee : </h3>	
					<div ng-repeat="employee in employees">		
						<div class="employee-select-btn" ng-click="employeeClicked($index)" ng-class="{selected: $index==selectedIndex}">
							<img class="emp-thumbnail" ng-src="{{employee.pic}}">
							<div class="emp-name"> {{employee.firstname}}&nbsp{{employee.lastname}}
							</div>
						</div>
					</div>
				</div>
				<!--END EMPLOYEE SELECT SECTION-->

				<!--EMPLOYEE DETAILS-->
				<div id="employee-details" class="col-md-9">
					<h3>Employee Information:</h3>
					<p>First <input type="text" ng-model="selectedEmployee.firstname"></input> </p>
					<p>Last<input type="text" ng-model="selectedEmployee.lastname"></input></p>
					<p>Department<input type="text" ng-model="selectedEmployee.dept"></input></p>
					<p>Hire Date<input type="text" ng-model="selectedEmployee.hired"></input></p>
					<img id="employee-pic" class="img-thumbnail" ng-src="{{selectedEmployee.pic}}">
				</div>
				<!--END EMPLOYEE DETAILS -->
  			</div>
	  	</div>
	  </div>

	<script src="js/jquery.min.js"></script>
	<script src="js/angular.min.js"></script>
	<script src="libraries/bootstrap/js/bootstrap.min.js"></script>
	<script src="js/employees.js"></script>
	</script>
</body>
</html>